DATABASE_URL="postgresql://aims_user:aims_password_123@localhost:5432/aims_erp_db?schema=public"

# Application
NODE_ENV="development"
PORT=5000

BREVO_API_KEY='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'
BREVO_SENDER_EMAIL='tushar.sharma@fibonacciinnovations.com'
BREVO_SENDER_NAME='AIMS ERP'